[client]
hawkbit_vendor_name = FullMetalUpdate
hawkbit_url_host = __UNDEFINED__
hawkbit_url_port = 8080
hawkbit_ssl = false
hawkbit_tenant_id = DEFAULT
hawkbit_target_name = FullMetalUpdate_Demo
hawkbit_auth_token = 380ff2b5908e776cb69159f3f4477e4f
log_level = debug

[ostree]
ostree_name_remote = fullmetalupdate
ostree_gpg-verify = false
ostree_ssl = false
ostree_url_host = __UNDEFINED__
ostree_url_port = 8000
ostree_url_path = __UNDEFINED__
ostreepush_method = ostreepush
ostreepush_ssh_user = root
ostreepush_ssh_host = __UNDEFINED__
ostreepush_ssh_port = 22
ostreepush_ssh_path = __UNDEFINED__
ostreepush_ssh_pwd = root
